body {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: 500;
}

body {
    font-family: 'Cardo', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

#quiz {
    background: #222222;
    color: white;
    font-size: 24px;
}

#textbox {
    height: 25px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    padding-left: 5px;
}

#button {
    background: orange;
    border: none;
    border-radius: 2px;
    padding: 10px;
    color: white;
    font-size: 14px;
    transition duration: .5s;
    margin-top: 15px;
}

    #button:hover {
        background: white;
        border: solid 2px;
        border-radius: 2px 2px 2px 2px;
        border-color: orange;
        color: black;
        cursor: pointer;
    }



#after_submit {
    visibility: hidden;
}

#reset {
    background: #9370DB;
    border-radius: 2px;
    padding: 10px;
    color: white;
    font-size: 14px;
    border: 2px;
    transition duration: .6s;
    margin-top: 13px;
}

    #reset:hover {
        background: white;
        border: solid 2px;
        border-color: #9370DB;
        border-radius: 2px 2px 2px 2px;
        color: black;
        cursor: pointer;
    }

#title {
    text-align: center;
    font-size: 24px;
    background: #222222;
    color: orange;
    border: 3px;
    border-color: blue;
    border-radius: 5px;
    padding-left: 20px;
    font-family: "Quicksand", sans-serif;
}


input[type='radio'] {
    transform: scale(1.5);
}

img {
    width: 50%;
    height: auto;
}


h2 {
    text-align: center;
}

#answers {
    background: orange;
    border: none;
    border-radius: 2px;
    padding: 10px;
    color: white;
    font-size: 14px;
    transition duration: .5s;
    margin-top: 15px;
}

    #answers:hover {
        background: white;
        border: solid 2px;
        border-radius: 2px 2px 2px 2px;
        border-color: orange;
        color: black;
        cursor: pointer;
    }


.topnav {
    background-color: #040409;
    overflow: hidden;
}

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }


        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }


        .topnav a.active {
            background-color: orange;
            color: white;



        }

.Correct {
    background-color: #00ccff;
}

.Incorrect {
    background-color: #ff6600;
}

.nocolor {
    background-color: #222222;
}



#button1 {
    background: orange;
    border: none;
    border-radius: 2px;
    padding: 10px;
    color: white;
    font-size: 14px;
    transition duration: .5s;
    margin-top: 15px;
}


#button2 {
    background: #9370DB;
    border-radius: 2px;
    padding: 10px;
    color: white;
    font-size: 14px;
    border: 2px;
    transition duration: .6s;
    margin-top: 13px;
}


#button2:hover {
    background: white;
    border: solid 2px;
    border-color: #9370DB;
    border-radius: 2px 2px 2px 2px;
    color: black;
    cursor: pointer;
}

    #button1:hover {
        background: white;
        border: solid 2px;
        border-color: orange;
        border-radius: 2px 2px 2px 2px;
        color: black;
        cursor: pointer;
    }
